* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #8699B6;
    font-family: 'Charis SIL', serif;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'header'
    'main'
    'footer';
    justify-content: center;
}

.nav-bar{
    grid-area: header;
}

nav {
    margin: 1em;
    display: flex;
    gap: 10px;
    justify-content: space-around
}

h1{
    color: white;
    text-shadow: 0 0 5px black;
}

input,
select,
button {
    cursor: pointer;
    border: 1px solid #D1D5DB;
    border-radius: 3px;
    box-shadow: 0 0 6px wheat;
}

select,
button {
    padding: 10px;
}

input{
    width: 10vh;
    height: 10vh;
}

select {
    width: 60%;
}

input {
    height: 2.5rem;
}

#color-display {
    grid-area: main;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.colors {
    height: 36rem;
}

#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: .3em;
    margin-bottom: .3em;
    height: 10vh;
}

.hex-colors{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.hex-btn > #myBtn{
    border: none;
    border-radius: 60%;
    padding: .7em 1em;
    box-shadow: 0 0 5px black;
}

/* mobile devices*/
@media (max-width: 470px) {
    body{
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-areas:
        'header header'
        'main footer';
    }

    .nav-bar{
        grid-area: header;
        display: flex;
    }

    .nav-content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }
    .nav-bar > h1{
        font-size: 1rem;
        align-items: center;
        margin-left: .5em;
        margin-top: auto;
        margin-bottom: auto;
    }

    .mode-op{
        font-size: .7rem;
        width: 92%;
    }

    #color-btn{
        font-size: .7rem;
    }

    #color-display {
        grid-area: main;
        margin-left: 1em;
        display: flex;
        flex-direction: column;
    }
    .container{
        margin: .3em;
    }
    .colors {
        height: 4rem;
    }

    #footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hex-btn > #myBtn{
        border: none;
        border-radius: 60%;
        padding: .7em 1em;
        margin: 16px;
        box-shadow: 0 0 5px black;
    }
}